@import "reset.css";
@import "variables.css";
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  height: 80px;
  color: #fff;
}

.header nav .menu li {
  position: relative;
  display: inline;
  margin: 0 10px;
  color: #fff;
  font-size: 13px;
}

.header nav .menu li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  border-radius: 2px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
  transform-origin: left;
}

.header nav .menu li:hover::before {
  transform: scaleX(1);
}

.fa-bars {
  position: fixed;
  top: 25px;
  right: 40px;
  font-size: 25px;
}

.display-none {
  display: none;
}

.menu-toggle_btn {
  cursor: pointer;
}

.wrap {
  position: relative;
  padding: 50px 0 0 0;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  height: 100%;
}

.wrap .header-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 35px;
  letter-spacing: 2px;
}

.wrap .main-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap .main-content .cont {
  z-index: 1;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 45%;
  border-radius: 15px;
  background: var(--bg-color);
  color: #fff;
  margin: 0 10px;
  transition: transform 0.3s, margin 0.3s;
  overflow: hidden;
}

.wrap .main-content .cont:hover {
  background: var(--bg-color);
  cursor: pointer;
  transform: scale(1.1);
  margin: 0 40px;
}

.wrap .main-content .cont h3 {
  font-size: 19px;
  font-weight: bold;
}

.wrap .main-content .cont h3 span {
  font-weight: 400;
  font-size: 12px;
  display: block;
}

.wrap .main-content .cont p {
  color: white;
  font-size: 12px;
  font-weight: 400;
  min-width: 140px;
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  line-height: 1.2;
  transition: all 1s linear;
  opacity: 1;
}

.main-content .cont:hover p {
  opacity: 1;
  transition-delay: 0.4s;
  max-height: 6em;
  margin-top: 20px;
}

.wrap .main-content .cont::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 15px;
  transition: filter 0.3s;
}

.wrap .main-content .cont1::after {
  background: center url("src/images/1.webp");
}

.wrap .main-content .cont2::after {
  background: center url("src/images/2.jpg");
}

.wrap .main-content .cont3::after {
  background: center url("src/images/3.jpg");
}

.wrap .main-content .cont4::after {
  background: center url("src/images/4.jpg");
}

.wrap .main-content .cont:hover::after {
  height: 100%;
  filter: blur(3px);
  opacity: 0.5;
}

.section3 {
  display: flex;
}

.section3 .employed {
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
}
.section3 .employed i {
  font-size: 150px;
  color: white;
}

.section3 .employed .text {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.section3 .employed .text .name {
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 900;
}

.section3 .employed .text .company {
  margin: 10px 0;
}

.section3 .employed:first-child::after {
  content: "BOX HOVER";
  color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 23px;
  animation: textAnimation 2s ease-in-out infinite;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes textAnimation {
  0% {
    transform: translateY(0) scale(1.1);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0) scale(1.1);
  }
}

.section3 .employed::before {
  content: "";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 2s;
}

.section3 .employed:hover::before {
  top: -100%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mobile-header {
  position: absolute;
  top: 25%;
  right: 25%;
}

.mobile-menu i {
  display: flex;
  font-size: 40px;
}

.mobile-menu i:hover,
.mobile-menu ul li {
  cursor: pointer;
}

.mobile-menu ul li {
  position: relative;
  margin: 50px 0;
  font-size: 50px;
  letter-spacing: 2px;
}

.mobile-menu ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1408px) {
  .wrap .main-content .cont {
    width: 22%;
  }

  .wrap .main-content .cont:hover {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1148px) {
  .wrap .main-content .cont h3 {
    font-size: 0.8rem;
  }

  .wrap .main-content .cont:hover {
    margin: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .wrap .main-content .cont {
    height: 40%;
    width: 40%;
  }
  .header-title {
    display: none;
  }
  .employed .user i {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  .wrap .main-content .cont {
    height: 20%;
    width: 80%;
  }
  .employed .user i {
    font-size: 60px;
  }
  .section3 .employed .text .name {
    font-size: 17px;
  }
  .section3 .employed .text .company,
  .section3 .employed .text .class {
    font-size: 13px;
  }
}
