.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
  mix-blend-mode: multiply;
  filter: invert(1);
}

@media all and (max-width: 1408px) {
  .wrap .main-content .cont {
    width: 22%;
  }

  .wrap .main-content .cont:hover {
    margin: 0 30px;
  }
}

@media all and (max-width: 1148px) {
  .wrap .main-content .cont h3 {
    font-size: 0.8rem;
  }

  .wrap .main-content .cont:hover {
    margin: 0 20px;
  }
}

@media all and (max-width: 800px) {
  .wrap .main-content .cont {
    height: 40%;
    width: 40%;
  }
  .header-title {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .wrap .main-content .cont {
    height: 20%;
    width: 80%;
  }
}
